@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
	--background: #ddd;
	--background-darker: #bbb;
	--foreground: #333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #333;
		--background-darker: #222;
		--foreground: #ddd;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

@font-face {
	font-family: neallogo;
	src: url(nealfunfont.ttf);
}

a {
	text-decoration: none;
	color: var(--foreground);
}

#returnHome {
	font-size: 250%;
	font-family: neallogo;
	margin: 1vw;
	position: fixed;
}

#title {
	text-align: center;
	font-weight: normal;
	font-family: neallogo;
	font-size: 500%;
	margin: 0;
}

#subtitle {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-weight: 400;
}

#pages,
#progressContainer,
#paperContainer,
#speedContainer {
	padding: 2vw;
	margin: 2vh 9.5vw 2vh 9.5vw;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

#pages,
#paperContainer,
#speedContainer {
	text-align: center;
	padding: 0;
}

.page {
	margin: 1.3vw;
	width: 24vw;
	height: 9vw;
	display: inline-block;
	padding: 0;
	box-sizing: border-box;
	border-radius: 10px;
}

.page img {
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	border-radius: 20px;
}

.progressItem {
	margin: 2vh;
}

.progressItemName {
	display: inline-block;
	width: 50%;
}

.progressItemTimeLeft {
	display: inline-block;
	width: 50%;
	text-align: right;
}

.progressItemSlider {
	background-color: var(--background-darker);
	height: 4vh;
	border-radius: 10px;
	overflow: hidden;
}

.progressItemSliderProgress {
	background-color: #0a0;
	height: 4vh;
}

#paperFolds {
	font-weight: bold;
	font-size: 4vh;
	margin: 0;
}

#paperImg {
	height: 50vh;
}

#paperUnfold,
#paperFold {
	font-size: 2vh;
	margin: 0.5vw;
	font-family: 'Roboto Condensed';
	border: none;
}

#paperUnfold {
	background-color: #f66;
}

#paperFold {
	background-color: #6f6;
}

#speedTimePassed {
	background-color: #6f6;
	color: #333;
	padding: 0.5vw;
	border-radius: 100vw;
	position: sticky;
	top: 0;
	box-sizing: border-box;
}

.speedButWait {
	font-style: italic;
}

.speedImg {
	height: 30vh;
}

.speedDistance {
	font-size: 3vw;
	font-weight: bold;
}